<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <title>Ski Slope List</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method SkiSlopeController.listAll -->
    <form id="filter-form"  th:action="@{/ski-slopes}" th:method="GET">
        <label for="name">Slope Name</label>
        <input id="name" type="text" name="name" th:value="${name}"/>

        <label for="length">Slope Length (in meters)</label>
        <input id="length" type="number" name="length" th:value="${length}"/>

        <label for="difficulty">Slope Difficulty</label>
        <select id="difficulty" name="difficulty">
            <option value="">All</option>
            <option th:each="d : ${difficulties}"
                    th:value="${d.name()}"
                    th:text="${d.name()}"
                    th:selected="${difficulty != null && difficulty == d}">
            </option>

        </select>

        <label for="skiResort">Ski Resort</label>
        <select id="skiResort" name="skiResort">
            <option value="">All</option>
            <option th:each="ski : ${skiResorts}"
                    th:value="${ski.getId()}"
                    th:text="${ski.getName()}"
                    th:selected="${skiResort != null && skiResort == ski.getId()}">
            </option>
        </select>
            <button id="filter" type="submit">Filter</button>


    </form>

    <div class="col mb-3" sec:authorize="hasRole('ADMIN')">
        <!-- SkiSlopeController.showAdd -->
        <a href="/ski-slopes/add" class="add-item">Add new ski slope</a>
    </div>

    <table>
        <tr>
            <th>Slope Name</th>
            <th>Length</th>
            <th>Difficulty</th>
            <th>Ski Resort</th>
            <th>Open/Closed</th>
            <th>Actions</th>
        </tr>
        <!-- For each ski slope you should have one <tr> like below -->
        <tr th:each="skiSlope : ${page.content}" class="item">
            <td th:text="${skiSlope.getName()}">[slope.name]</td>
            <td  th:text="${skiSlope.getLength()}">[slope.length]</td>
            <td th:text="${skiSlope.getDifficulty().name()}">[slope.difficulty]</td>
            <td th:text="${skiSlope.getSkiResort() != null} ? ${skiSlope.getSkiResort().getName()} : 'No skiResort'">[slope.skiResort.name]</td>
            <td th:text="${skiSlope.isClosed()} ? 'CLOSED' : 'OPEN'">[slope.closed] -> OPEN/CLOSED</td>
            <td>
                <!-- SkiSlopeController.edit -->
                <th:block sec:authorize="hasRole('ADMIN')">
                <a  th:href="@{'/ski-slopes/edit/{id}' (id=${skiSlope.getId()})}" class="edit-item">Edit
                </a>
                </th:block>

                <!-- SkiSlopeController.delete -->
                <th:block sec:authorize="hasRole('ADMIN')">
                    <form th:action="@{'/ski-slopes/delete/{id}' (id=${skiSlope.getId()})}"
                          th:method="DELETE">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                </th:block>
                <!-- SkiSlopeController.close -->
                <form th:action="@{'/ski-slopes/close/{id}' (id=${skiSlope.getId()})}"
                      th:method="POST"
                      sec:authorize="hasRole('ADMIN')">
                <button type="submit" class="close-item">Close
                    <span th:text="${skiSlope.isClosed()} ? 'CLOSED' : 'OPEN'"></span>
                </button>
                </form>
            </td>
        </tr>
    </table>
    <div th:insert="~{paging :: pageSection(${page})}"></div>


</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
