<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method ReservationsController.listAll -->
    <form id="filter-form" th:action="@{/}" th:method="GET">
        <label for="guestName">Guest Name</label>
        <input id="guestName" type="text" name="guestName" th:value="${guestName}"/>
        <label for="roomType">Genre</label>
        <select id="roomType" name="roomType">
            <option value="">All</option>
            <!-- For each RoomType you should have one <option> like below  -->
            <option th:each="r : ${roomTypes}"
                    th:value="${r.name}"
                    th:text="${r.name}"
                    th:selected="${roomType != null && roomType == r}">
            </option>
        </select>
        <select id="hotel" name="hotel">
            <option value="">All</option>
            <!-- For each Hotel you should have one <option> like below  -->
            <option th:each="h : ${hotels}"
                    th:value="${h.id}"
                    th:text="${h.name}"
                    th:selected="${hotelId != null && hotelId == h.getId()}">
            </option>

        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- ReservationsController.showAdd -->
        <div class="col mb-3" sec:authorize="hasRole('ADMIN')">
        <a href="/reservations/add"  class="add-item">
            Add new reservation
        </a>
        </div>
    </div>
    <table>
        <tr>
            <th>Guest Name</th>
            <th>Date of Creation</th>
            <th>Room Type</th>
            <th>Hotel</th>
            <th>Days of Stay</th>
            <th>Actions</th>
        </tr>
        <!-- For each reservation you should have one <tr> like below -->
        <tr th:each="reservation : ${page.content}" class="item">
            <td th:text="${reservation.guestName}">[reservation.guestName]</td>
            <td th:text="${reservation.dateCreated}" >[reservation.dateCreated]</td>
            <td th:text="${reservation.roomType}" >[reservation.roomType]</td>
            <td th:text="${reservation.hotel != null ? reservation.hotel.name : 'No name'}"></td>
            <td th:text="${reservation.daysOfStay}">[reservation.daysOfStay]</td>
            <td>
                <!-- ReservationsController.delete -->
                <th:block sec:authorize="hasRole('ADMIN')">
                    <form th:action="@{'/reservations/delete/{id}' (id=${reservation.getId()})}"
                          th:method="DELETE">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                </th:block>
                <!-- ReservationsController.showEdit -->

                <th:block sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{'/reservations/edit/{id}' (id=${reservation.getId()})}"
                       class="edit-item">Edit</a>
                </th:block>
                <!-- ReservationsController.extend -->
                <form th:action="@{'/reservations/extend/{id}' (id=${reservation.getId()})}"
                      th:method="POST"
                      sec:authorize="hasRole('USER')">
                    <button type="submit" class="extend-item">Extend stay</button>
                </form>
            </td>
        </tr>
    </table>
    <div th:insert="~{paging :: pageSection(${page})}"></div>



</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
