<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <title>WP Exam</title>
    </div>
</head>
<body>

<div>
    <!-- The form below should invoke the method ExpensesController.listAll -->
    <form id="filter-form" th:action="@{/expenses}" th:method="GET">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" th:value="${title}"/>
        <label for="expenseCategory">Expense Category</label>
        <select id="expenseCategory" name="expenseCategory">
            <option value="">All</option>
            <option th:each="exp : ${expenseCategories}"
                    th:value="${exp}"
                    th:text="${exp}"
                    th:selected="${expenseCategory != null && expenseCategory == exp}">
            </option>

        </select>
        <label for="vendor">Vendor</label>
        <select id="vendor" name="vendor">
            <option value="">All</option>
            <option th:each="v : ${vendors}"
                    th:value="${v.getId()}"
                    th:text="${v.getName()}"
                    th:selected="${vendor != null && vendor == v.getId()}">
            </option>

        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- ExpensesController.showAdd -->
        <div class="col mb-3" sec:authorize="hasRole('ADMIN')">
        <a href="/expenses/add" class="add-item">
            Add new expense
        </a>
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Date of Creation</th>
            <th>Amount</th>
            <th>Expense Category</th>
            <th>Vendor</th>
            <th>Days to expire</th>
            <th>Actions</th>
        </tr>
        <!-- For each expense you should have one <tr> like below -->
        <tr th:each="expense : ${page.content}"  class="item">
            <td th:text="${expense.getTitle()}">[expense.title]</td>
            <td th:text="${expense.getDateCreated()}">[expense.dateCreated]</td>
            <td th:text="${expense.getAmount()}" >[expense.amount]</td>
            <td  th:text="${expense.getExpenseCategory().name()}">[expense.expenseCategory]</td>
            <td th:text="${expense.getVendor() != null} ? ${expense.getVendor().getName()} : 'No vendor'">[expense.vendor.name]</td>
            <td th:text="${expense.getDaysToExpire()}">[expense.daysToExpire]</td>
            <td>
                <!-- ExpensesController.delete -->
                <th:block sec:authorize="hasRole('ADMIN')">
                <form th:action="@{'/expenses/delete/{id}' (id=${expense.getId()})}"
                      th:method="DELETE">
                <button type="submit" class="delete-item">Delete</button>
                </form>
                </th:block>

                <!-- ExpensesController.showEdit -->
                <th:block sec:authorize="hasRole('ADMIN')">
                <a  th:href="@{'/expenses/edit/{id}' (id=${expense.getId()})}" class="edit-item">Edit</a>
                </th:block>

                <!-- ExpensesController.extend -->
                <form th:action="@{'/expenses/extend/{id}' (id=${expense.getId()})}"
                      th:method="POST"
                      sec:authorize="hasRole('USER')">
                <button type="submit" class="extend-item">Extend expiration</button>
                </form>
            </td>
        </tr>
    </table>
        <div th:include="paging :: pageSection(${page})"></div>
    </div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</div>
</body>
</html>
